<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<a href="https://localhost/single_love/index.php/Home/Look/Look/index"><h1>关注系统</h1></a>
  	<div id="content">

	<fieldset>
 		<h2>谁看过我</h2>
		以下的{$count}会员最近看了你,有心动的吗?
		<for start = "0" end = "$count">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$user[$i]['id']}" target="_blank"><img src="{$user[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$user[$i]['nickname']}</br>
			{$user[$i]['age']}岁&nbsp;{$user[$i]['height']}cm</br>
			{$user[$i]['professional']}<br>
			{$user[$i]['home']}</br>
			浏览时间:{$user[$i]['time']}</br>
			</fieldset>
		</for>
 	</fieldset>
 	<br/>

	<fieldset>
    	<h2>我浏览过的人</h2>
		你浏览了以下的{$Seenuser}会员
		<for start = "0" end = "$Seenuser">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$seen[$i]['id']}" target="_blank"><img src="{$seen[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$seen[$i]['nickname']}</br>
			{$seen[$i]['age']}岁&nbsp;{$user[$i]['height']}cm</br>
			{$seen[$i]['professional']}<br>
			{$seen[$i]['home']}</br>
			浏览时间:{$seen[$i]['time']}</br>
			</fieldset>
		</for>
    </fieldset>
    <br/>

	<fieldset>
    	<h2>谁关注我</h2>
		<for start = "0" end = "$send['count']">
	        <fieldset>
          		<h4>ID:{$send["email"][$i]["members_id_b"]}</h4>
 				<h4>发送时间:{$send["email"][$i]["time_a"]}</h4>
				<h4>对方:
					<if condition = "$send['email'][$i]['state']"> 已读
					<else/>未读
					</if>
				</h4>
				<a href="https://localhost/single_love/index.php/Home/Email/Send/index/userid/{$count["email"][$i]["members_id_a"]}/id/{$count        ["email"][$i]["id"]}"><button type="button"><h4>查看邮件</h4></button></a>
 			</fieldset>
 		</for>

    </fieldset>
    <br/>
   	</form>
 </div>

  <div id="footer"></div>
 </body>
</html>

