<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<a href="https://localhost/single_love/index.php/Home/Look/Look/index"><h1>关注系统</h1></a>
  	<div id="content">

	<fieldset>
 		<h2>谁看过我</h2>
		以下的{$count}位会员最近看了你,有心动的吗?
		<for start = "0" end = "$count">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$user[$i]['id']}" target="_blank"><img src="{$user[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$user[$i]['nickname']}</br>
			{$user[$i]['age']}岁&nbsp;{$user[$i]['height']}cm</br>
			{$user[$i]['professional']}<br>
			{$user[$i]['home']}</br>
			浏览时间:{$user[$i]['time']}</br>
			</fieldset>
		</for>
 	</fieldset>
 	<br/>

	<fieldset>
    	<h2>我浏览过的人</h2>
		你浏览了以下的{$Seenuser}位会员
		<for start = "0" end = "$Seenuser">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$seen[$i]['id']}" target="_blank"><img src="{$seen[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$seen[$i]['nickname']}</br>
			{$seen[$i]['age']}岁&nbsp;{$user[$i]['height']}cm</br>
			{$seen[$i]['professional']}<br>
			{$seen[$i]['home']}</br>
			浏览时间:{$seen[$i]['time']}</br>
			</fieldset>
		</for>
    </fieldset>
    <br/>

	<fieldset>
    	<h2>谁关注我</h2>
		{$Follower['count']}位会员关注你
		<for start = "0" end = "$Follower['count']">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$Follower[$i]['id']}" target="_blank"><img src="{$Follower[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$Follower[$i]['nickname']}</br>
			{$Follower[$i]['age']}岁&nbsp;{$Follower[$i]['height']}cm</br>
			{$Follower[$i]['professional']}<br>
			{$Follower[$i]['home']}</br>
			关注时间:{$Follower[$i]['time']}</br>
			</fieldset>
		</for>
    </fieldset>
    <br/>
<fieldset>
    	<h2>谁关注我</h2>
		我关注{$Following['count']}位会员
		<for start = "0" end = "$Following['count']">
			<fieldset>
				<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$Following[$i]['id']}" target="_blank"><img src="{$Following[$i]['head_photo']}" height="100" width="125"/></a>
	    	</br>
			{$Following[$i]['nickname']}</br>
			{$Following[$i]['age']}岁&nbsp;{$Following[$i]['height']}cm</br>
			{$Following[$i]['professional']}<br>
			{$Following[$i]['home']}</br>
			关注时间:{$Following[$i]['time']}</br>
			</fieldset>
		</for>

    </fieldset>
 
 </div>

  <div id="footer"></div>
 </body>
</html>

