<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<ul>
  		<li><a href = "https://localhost/single_love/index.php/Home/Home/Home/index"><h1>个人主页</h1></a></li>
  		<li><a href="https://localhost/single_love/index.php/Home/Information/Information/index" target="_blank"><h1>修改资料</h1></a></li>
		<li><a href="https://localhost/single_love/index.php/Home/Email/Lookemail/index" target="_blank"><h3>收件箱({$count})</h3></a></li>
	</ul>

  	<div id="content">
	<fieldset>
		<h2>最新会员</h2>
		<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$user_1['id']}" target="_blank"><img src="{$user_1['head_photo']}" height="100" width="125"/></a>	
		<p>{$user_1['nickname']}</p>
		<p>{$user_1['home']}</p>
	</fieldset>
	<fieldset>
		<h2>最新会员</h2>
		<a href="https://localhost/single_love/index.php/Home/Personal/New/index/user_id/{$user_2['id']}" target="_blank"><img src="{$user_2['head_photo']}"height="100" width="120"/></a>	
		<p>{$user_2['nickname']}</p>
		<p>{$user_2['home']}</p>
	</fieldset>
 </body>
</html>

