<html>
<body>
<form action="appearance" method="post">
体重: <input type="text" name="weight"><br>
体型: <input type="text" name="size"><br>
健康状况: <input type="date" name="health"><br>
外貌特征: <input type="text" name="evaluation"><br>
穿衣风格: <input type="text" name="clothes"><br>
性格特征: <input type="text" name="disposition"><br>
脾气: <input type="text" name="temper"><br>
<input type="submit" value = "保存并继续">
<a href="https://localhost/single_love/index.php/Home/Unit/Unit/index"><button type="button">跳过此页</button></a>
</form>
</body>
</html>
